.u-section-1 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url("images/Screenshot281.png");
  background-position: 50% 50%;
  background-size: 180%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 336px 566px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 24px 566px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 366px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 366px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 146px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 146px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-size: 320%;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-size: 400%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 830px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 145px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  margin: 188px auto 0 435px;
}

.u-section-2 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/144770274_462390728099998_2876684951046071479_n.jpg");
  background-position: 50% 50%;
  margin: 42px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: -311px 102px 0 435px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 164px;
    margin-left: 327px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 28px;
    margin-left: -57px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -300px;
    margin-right: 40px;
    margin-left: 327px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 61px;
  }

  .u-section-2 .u-image-1 {
    width: 216px;
    height: 216px;
    margin-top: 104px;
    margin-left: 50px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -272px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 320px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    width: 233px;
    height: 233px;
    margin-top: -309px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: 398px;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1088px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 847px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 46px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 51px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 44px;
    margin-right: -10px;
    margin-left: 10px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-text-1 {
  font-size: 2.5rem;
  margin: 128px auto 0;
}

.u-section-3 .u-list-1 {
  min-height: 388px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  grid-gap: 10px 10px;
  margin-top: 106px;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 1px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 1px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    min-height: 320px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    min-height: 735px;
    grid-template-columns: calc(((100% - 720px) / 2) + 355px) calc(((100% - 720px) / 2) + 355px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    grid-template-columns: calc(((100% - 540px) / 2) + 265px) calc(((100% - 540px) / 2) + 265px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-list-1 {
    grid-template-columns: 100%;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 186px 206px 0 234px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 143px 206px 60px 234px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: 323px;
    margin-right: 106px;
    margin-left: 134px;
  }

  .u-section-4 .u-text-2 {
    width: 556px;
    margin-top: 152px;
    margin-right: 150px;
    margin-left: 174px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 40px;
    margin-left: 64px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-top: 451px;
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    margin-top: 31px;
    margin-bottom: 11px;
  }
}